<!-- poate fac toate imaginile de aceeasi rezolutie de baza si apoi le micsorez in functie de ecran sa aiba aceeasi rezolutie mereu toate? -->
<!-- daca nu vreau animatii in cod: transition: none animation:none -->
<!-- ceva gradient -> box shadow trebuie dezactivat -->

<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Prea târziu</title>
        
        <meta name="keywords" content="trupa, formatie, prea, tarziu, romania, romaneasca, metal, thrash, fast, speed, death, extreme, extrem, muzica, chitara, tobe, bas, vocal"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii in diferite sali din Bucuresti."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <link rel="stylesheet" href="../../resurse/css/duotone.css" type="text/css">
        <!-- pt a inlocui chestiile generale de stil -->
        <%- include("../fragmente/head.ejs") %>
    </head>
    
    <body id="home">
    <!-- <body id="home" class="dark"> -->
        <%- include("../fragmente/navbar.ejs") %>

        <main>            
            <section id="despre_trupa">
                <div id="duotone-container">
                    <div id="media-immage-duotone">
                        <br>
                        <h1 id="despre_noi_titlu">
                            Despre Noi
                            <div id="text-reflectat">Despre Noi</div>
                        </h1>
                        <br>
                        <p id="despre_noi_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: 
                            Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii 
                            in diferite sali din Bucuresti. Plini de pasiune si perseverenta, nimic nu poate
                            opri acest trio din a fi cu adevarat de succes.</p>
                    </div>    
                </div>
                <br>
                <h2>lab 8 -> partea de bd</h2>
                
                <h2>lab 9</h2> 
                <p>posibil sa fie dezastru la baza de date sa verific ( mai ales in .js )!!!</p>
                <br>
                

                <button class="btn btn-primary">ceva</button>
                
                <br><br><br><br>
            </section>
            
        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>