<!-- poate fac toate imaginile de aceeasi rezolutie de baza si apoi le micsorez in functie de ecran sa aiba aceeasi rezolutie mereu toate? -->
<!-- daca nu vreau animatii in cod: transition: none animation:none -->
<!-- ceva gradient -> box shadow trebuie dezactivat -->

<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Prea târziu</title>
        
        <meta name="keywords" content="trupa, formatie, prea, tarziu, romania, romaneasca, metal, thrash, fast, speed, death, extreme, extrem, muzica, chitara, tobe, bas, vocal"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii in diferite sali din Bucuresti."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <link rel="stylesheet" href="../../resurse/css/duotone.css" type="text/css">
        <!-- pt a inlocui chestiile generale de stil -->
        <%- include("../fragmente/head.ejs") %>
    </head>
    
    <body id="home">
    <!-- <body id="home" class="dark"> -->
        <%- include("../fragmente/navbar.ejs") %>

        <main>            
            <section id="despre_trupa" >
                <section id="duotone-container">
                    <div id="media-immage-duotone">
                        <p id="scrolling-text"> Nou album iesit! Asculta acum Paranoia pe Spotify.
                                                Nou album iesit! Asculta acum Paranoia pe Spotify. 
                                                Nou album iesit! Asculta acum Paranoia pe Spotify.
                                                Nou album iesit! Asculta acum Paranoia pe Spotify. 
                                                Nou album iesit! Asculta acum Paranoia pe Spotify. 
                                                Nou album iesit! Asculta acum Paranoia pe Spotify. 
                                                Nou album iesit! Asculta acum Paranoia pe Spotify. </p>
                        <br>
                        <h1 id="despre_noi_titlu">
                            Despre Noi
                            <div id="text-reflectat">Despre Noi</div>
                        </h1>
                        <br>
                        <p id="despre_noi_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: 
                            Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii 
                            in diferite sali din Bucuresti. Plini de pasiune si perseverenta, nimic nu poate
                            opri acest trio din a fi cu adevarat de succes.</p>
                    </div>    
                </section>
                <br>
                <section id="more-band-information" class="padding-general">
                    <h2>Punctaje de retinut</h2>
                    <p>
                        1.3 punctaj etapa 5 
                        0.7 bonus pentru custom nume, cuvant cheie, pret minim si maxim si optiune culori<br> 
                            (m-am folosit de datele mele pentru a da un "preset" custom -> acel placeholder)
                            Sau poate chiar mai mult? am pus si placeholder si for-ul pt alege culorile
                            am si multiple select  
                        <br>
                        0.25 pentru tranzitie si buton de ascuns filtre? 
                        0.2 light dark theme
                        0.15 3 sau mai multe teme
                        0.05 daca nu sunt produse
                        <br><br>
                        sa nu uit de punctul pt aspect!
                    </p>
                    
                    <div class="container">
                        <a href="/pisica" class="text-end"><button class="buton-pisica">Un buton pisicos</button></a>
                    </div>
                    <br><br><br><br>
                </section>
            </section>
            
        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>