<!-- poate fac toate imaginile de aceeasi rezolutie de baza si apoi le micsorez in functie de ecran sa aiba aceeasi rezolutie mereu toate? -->
<!-- daca nu vreau animatii in cod: transition: none animation:none -->
<!-- ceva gradient -> box shadow trebuie dezactivat -->

<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Prea târziu</title>
        
        <meta name="keywords" content="trupa, formatie, prea, tarziu, romania, romaneasca, metal, thrash, fast, speed, death, extreme, extrem, muzica, chitara, tobe, bas, vocal"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii in diferite sali din Bucuresti."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <!-- pt a inlocui chestiile generale de stil -->
        <%- include("../fragmente/head.ejs") %>
    </head>
    
    <body id="home">
    <!-- <body id="home" class="dark"> -->
        <%- include("../fragmente/header.ejs") %>

        <main>            
            <section id="despre_trupa">
                <br><br>
                <h1>Despre Noi</h1>

                <br>
                <h2>curs 8!!</h2>
                <h2>lab 8!!</h2>
                <br>
                

                <button class="btn btn-primary">ceva</button>
                
                <p>Prea Târziu este o formatie de Thrash Metal romaneasca formata din 3 membrii: Mircea, Costi si Brihac. Acest proiect a luat nastere dupa nenumarate repetitii in diferite sali din Bucuresti.</p>
                <br><br><br><br>
            </section>
        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>