body{
    --latime-imagine-eroare: 50vw;
    --inaltime-imagine-eroare: 26vw;
    --rotunjire: 5vw;
}

#err-coloane{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#err-coloane div img{
    border-radius: var(--rotunjire);
    width: var(--latime-imagine-eroare);
    height: var(--inaltime-imagine-eroare);
    object-fit: cover;
    object-position: center;
}