html{
    font-size: 15px;
    transition: font-size 0.2s linear;

    --font-size: 15px;
}

.important_events{
    --festivals-width: 80vw;
}

#albume table{
    border-spacing: 0px;
}

#scrollbar {
    overflow-x: scroll;
}