html{
    --font-size: 20px;
    --timp-tranzitie: 0.2s;

    --tooltip-bottom: -15px;
    --tooltip-right: calc(var(--sus-bottom)/2 - 2px);

    --social-media-factor: 4;
    --sus-bottom: 30px;

    --skull-degree: 5deg;
    --skull-time: 0.3s;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition: font-size var(--timp-tranzitie) linear;
}

body{
    --culoare-deschisa: #FFF5FC;
    --culoare-fundal: #FFF5FC;
    --culoare-inchisa: #031A40;
    --culoare-text: #031A40; 
    --culoare-highlight: #C60DFF;
    --culoare-border: #6200FF; 
    --culoare-lowlight: #0C0CF5;

    --band-immage-height: 35vw;
    --festivals-width: 24vw;
    --grid-gap-width: 3vw;
    --width_border: 0.3vw;
    --border-radius-banner: 15px;
    --border-radius-immages: 5px;

    --padding-pagina: 0px;
    --padding-sectiune: 0px;
    --padding-banner: 40px;
    --padding-grid-media: 25px;
    --padding-tabel: 6px;
    --up-button-size: 50px;
    --table-font-multiplier: 1.1;
    --up-button-width: calc(var(--up-button-size) * 1.2);
    --logo-padding: 5px;

    --opacity-buton: 0.4;
    --opacity-tooltip: 0;
    --margin-logo: 50px;
}

footer{
    --colturile-de-sus: calc(var(--font-size) * 1.8);
    --colturile-de-jos: 0px;
}

body.dark{
    --culoare-text: #FFF5FC;
    --culoare-fundal: #031A40; 
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    background-color: var(--culoare-fundal);
    color: var(--culoare-text);

    box-sizing: border-box;
    padding: var(--padding-pagina);
}

header{
    background-image: url("../imagini/placeholder_band_immage3.png");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--band-immage-height);
}

.important_events{
    width: var(--festivals-width);
}

#the_band{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size) * 2.5);
}

#logo{
    margin-top: var(--margin-logo);
    color: var(--culoare-deschisa);
    font-weight: bold;
    box-sizing: border-box;
    padding: var(--logo-padding);
}   

/* #the_band_immage{
    width: var(--band-width);
} */

#sus{
    box-sizing: border-box;
    display: flex;
    background-color: var(--culoare-lowlight);
    width: var(--up-button-width);
    height: var(--up-button-width);
    font-size: var(--up-button-size);
    font-weight: 900;
    border-radius: calc(var(--up-button-width)/2);
    
    justify-content: center;
    align-items: center;

    bottom: var(--sus-bottom);
    right: var(--sus-bottom);
    position: fixed;

    border: var(--grosime-border-buton) solid var(--culoare-highlight);

    opacity: var(--opacity-buton);
    transition: all var(--timp-tranzitie) linear;

}


#sus:hover{
    opacity: 1;   
}

#tooltip{
    position: fixed;
    bottom: var(--tooltip-bottom);
    right: var(--tooltip-right);
    color: var(--culoare-highlight);
    opacity: var(--opacity-tooltip);
    transition: all var(--timp-tranzitie) linear;

}

#sus_tooltip:hover{
    --opacity-tooltip: 1;
}

#sus *{
    color: var(--culoare-highlight);
}

#insta-icon{
    font-size: calc(var(--font-size) * var(--social-media-factor));
    color: var(--culoare-text);
}

#titlu_turneu{
    color: var(--culoare-text);
    font-size: calc(var(--font-size) * 2);
}

#skull1{
    animation-name: leftskull;
    animation-duration: var(--skull-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transform-origin: center top;
}

#skull2{
    animation-name: rightskull;
    animation-duration: var(--skull-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transform-origin: center top;
}

@keyframes leftskull{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(var(--skull-degree));
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rightskull{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(calc(-1 * var(--skull-degree)));
    }
    100%{
        transform: rotate(0deg);
    }
}

footer *{
    font-weight: bold;
    color: var(--culoare-deschisa);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--culoare-lowlight);
    border-radius: var(--colturile-de-sus) var(--colturile-de-sus) var(--colturile-de-jos) var(--colturile-de-jos);
}

#albume{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin: calc(var(--font-size) * 2);
}

#watermark{
    opacity: 0;
}

#banner-container{
    position: fixed;
    left: 0vw;
    top: 35vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#banner{
    background-color: var(--culoare-deschisa);
    padding: var(--padding-banner);
    border-radius: var(--border-radius-immages);
    border: 1px var(--culoare-inchisa) solid;
    color: var(--culoare-inchisa);
}

#grid-galerie{
    padding: var(--padding-grid-media);
}

#media-immage{
    border-radius: var(--border-radius-immages);
}
