html{
    font-size: 20px;
}

body{
    --culoare-fundal: #FFF5FC;
    --culoare-text: #031A40; 
    --culoare-highlight: #C60DFF;
    --culoare-border: #6200FF; 
    --culoare-lowlight: #0C0CF5;

    --band-width: 95vw;
    --festivals-width: 25vw;
    --grid-gap-width: 0.2vw;
    --width_border: 0.3vw;

    --padding-pagina: 0px;
    --padding-sectiune: 0px;
}

body.dark{
    --culoare-text: #FFF5FC;
    --culoare-fundal: #031A40; 
}

body{
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);

    padding-left: var(--padding-pagina);
    padding-right: var(--padding-pagina);
}

.important_events{
    width: var(--festivals-width);
}

#the_band_immage{
    width: var(--band-width);
}

footer *{
    color: var(--culoare-text);
}