html{
    font-size: 20px;
    transition: font-size 0.2s linear;
    
    --font-size: 20px;
}

body{
    --culoare-fundal: #FFF5FC;
    --culoare-text: #031A40; 
    --culoare-highlight: #C60DFF;
    --culoare-border: #6200FF; 
    --culoare-lowlight: #0C0CF5;

    --band-width: 95vw;
    --festivals-width: 25vw;
    --grid-gap-width: 0.2vw;
    --width_border: 0.3vw;

    --padding-pagina: 10px;
    --padding-sectiune: 10px;
    --up-button-size: 50px;
    --up-button-width: calc(var(--up-button-size) * 1.2);
}

body.dark{
    --culoare-text: #FFF5FC;
    --culoare-fundal: #031A40; 
}

body{
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);

    padding-left: var(--padding-pagina);
    padding-right: var(--padding-pagina);
}

.important_events{
    width: var(--festivals-width);
}

#the_band_immage{
    width: var(--band-width);
}

footer *{
    color: var(--culoare-text);
}

#sus{
    box-sizing: border-box;
    display: flex;
    background-color: var(--culoare-lowlight);
    width: var(--up-button-width);
    height: var(--up-button-width);
    font-size: var(--up-button-size);
    font-weight: 900;
    border-radius: calc(var(--up-button-width)/2);
    justify-content: center;
    align-items: center;

    bottom: 15px;
    right: 15px;
    position: fixed;
}

#sus *{
    color: var(--culoare-highlight);
}