#grid_pagina{
    display:grid;
    /* da dimensiunile coloanelor */
    grid-template-columns: 1fr;
    grid-template-areas: 
        "z-titlu_turneu"
        "z-rockstadt"
        "z-brutal"
        "z-hellfest"
        "z-calendar"
        "z-anunturi"
        "z-albume"
        "z-albume"
        "z-statistici"
        "z-server"
        "z-utilizatori"
        "z-filmari"
        "z-social";
    gap: var(--grid-gap-width);

    --festivals-width: 20vw;

    padding: calc(var(--padding-grid) * 0.2);
}
