/* gridul merge doar pe fii directi!! */
#grid_pagina{
    --rotunjire: calc(2 * var(--font-size));
    --rotunjire-mica: calc(var(--rotunjire) / 3);

    padding: var(--padding-sectiune);
    justify-items: center;
}

#grid_pagina{
    display:grid;
    /* da dimensiunile coloanelor */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "z-titlu_turneu z-titlu_turneu z-titlu_turneu"
        "z-rockstadt z-brutal z-hellfest"
        "z-albume z-albume z-calendar"
        "z-albume z-albume z-anunturi"
        "z-utilizatori z-statistici z-server"
        "z-filmari z-filmari z-filmari"
        "z-social z-social z-social";
    gap: var(--grid-gap-width);
    color: var(--culoare-deschisa);
    font-weight: bold;
}

/* stabilire nume de grid pt fiiecare sectiune */
#titlu_turneu{
    /* border: var(--width_border) solid var(--culoare-border); */
    grid-area: z-titlu_turneu;
}
#rockstadt{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire) var(--rotunjire) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-rockstadt;
}
#brutal{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire) var(--rotunjire) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-brutal;
}
#hellfest{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire) var(--rotunjire) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-hellfest;
}
#filmari{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire) var(--rotunjire) 0px 0px;
    grid-area: z-filmari;
}
#albume{
    /* border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border); */
    grid-area: z-albume;
}
#calendar{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-calendar;
}
#anunturi{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-anunturi;
}
#utilizatori{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-utilizatori;
}
#statistici{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-statistici;
}
#server{
    border: var(--width_border) solid var(--culoare-border);
    background-color: var(--culoare-border);
    border-radius: var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica) var(--rotunjire-mica);
    grid-area: z-server;
}
#social{
    /* border: var(--width_border) solid var(--culoare-border);  */
    grid-area: z-social;
}