body{
    --timp-tranzitie: 0.2s;
    
    --iframe_height: 40vw;
    --iframe_width: calc(var(--iframe_height) * 1.75);
    --latime-buton: 15vw;
    --grosime-border-buton: 3px;
    --gap-factor: 5;

    --inaltime-text: 35px;
    --culoare-border-buton: #031A40;
    --culoare-text-buton: #FFF5FC;
}

div.taburi_iframe{
    display:flex;
}

div.taburi_iframe a{
    /* face linkurile sa arate normal (nesubliniate si nealbastre) */
    color: var(--culoare-text-buton);
    font-weight: bold;

    /* inaltimea si latimea butoanelor */
    width: var(--latime-buton);
    height: calc(4 * var(--font-size));

    /* (culoarea butonului) */
    background-color: var(--culoare-lowlight);

    /* pune textul la mijloc intre stanga si dreapta */
    border: var(--grosime-border-buton) solid var(--culoare-border-buton);

    box-sizing: border-box;
    
    transition: all var(--timp-tranzitie) linear;

    /* problema: daca textul are mai multe linii atunci acest hack nu merge */
    /* line-height: var(--inaltime-text); */

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;


    /* https://exemple-css-curs3--irinaciocan.repl.co/ -> centrare.html */
    
    /*
    avem in cursul 4 (sau 3?) rezolvare: 
        text-allign: center; si mai erau niste chestii 
        fiecare buton sa am doua divuri cu display flex si justify -content si alligh-items center si nu mai pun lineheight
    */
    border-bottom: none;
    border-radius: 0.6em 0.6em 0em 0em;
}

div.taburi_iframe{
    /* latimea flexboxului */
    width: var(--iframe_width);
    height: auto;
    display: flex;
    
    /* definesc flexboxul */
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;

    gap: calc(var(--gap-factor) * var(--grosime-border-buton));
}

div.taburi_iframe a:hover{
    /* culoarea textului si a fundalului cand hoveruiesti */
    background-color: var(--culoare-highlight);
    color: var(--culoare-border-buton);
}

#iframe_square{
    display:block;
    /* marimea iframeului */
    height: var(--iframe_height);
    width: var(--iframe_width);
    min-width: 300px;
}