.container-produs{
    width: 37vw;
    background-color: var(--culoare-lowlight);
    border-radius: var(--border-radius-banner);
}

a{
    text-decoration: none !important;
}

#col-1{
    padding: 2rem;
}

#col-1 figure{
    display: flex;
    align-items: flex-start;
}

#col-2{
    padding: 2rem;
    width: 24vw;
}

.selecteaza-cos{
    display: inline-block;
    background-color: var(--culoare-border);
    position:absolute;
    bottom:1rem;
    right:1rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    font-weight: 600;
    border:1px solid transparent;
    color: var(--culoare-deschisa);
}

.selecteaza-cos:hover{
    background-color: var(--culoare-highlight);
}

.select-cos{
    display: none;
}
