
html, div.taburi_iframe{
    padding: 0px;
    margin: 0px;
}

div.taburi_iframe a{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    margin: 0px;
}

footer *{
    text-decoration: none;
}