#albume table{
    --culoare-1: var(--culoare-lowlight);
    --culoare-2: var(--culoare-border);
    --culoare-deschisa: #FFF5FC;

    --timp-tranzitie: 0.2s;
}

#albume table{
    color: var(--culoare-deschisa);
    font-weight: bold;
    caption-side: bottom;
    border-spacing: 3px;
}

#albume table td{
    width: 25%;
}

#albume table tbody tr{
    transition: all var(--timp-tranzitie) linear;
}

#albume table tbody tr:nth-child(even){
    background-color: var(--culoare-1);
}

#albume table tbody tr:nth-child(odd){
    background-color: var(--culoare-2);
}

#albume table tbody tr:hover{
    background-color: var(--culoare-highlight);
}

#albume table tfoot{
    background-color: var(--culoare-highlight);
}
