<footer>
    <!-- uri shceme este cand pui tel sau mailto inainte de nr de telefon/mailul tau -->
    <br><br>
    <p><%- locals.optiuniMeniu %></p>
    <small>
        &copy; Copyright - Prea Devreme - <time datetime="2023-02-26">26 Februarie 2023</time> - All Rights Reserved.
    </small> 
    <br><br><br><br><br>
    <a href="tel:+40736900300">0736900300</a>
    <a href="https://api.whatsapp.com/send?phone=0736900300" target="_blank">Whatsapp</a>
    <address>
        <a href="https://goo.gl/maps/dRE9NbEUcax19jQL9" target="_blank">Strada Academiei nr 14, Bucuresti, 010014</a>
    </address>
    <a href="mailto:prea_tarziu@gmail.com" target="_blank">prea_tarziu@gmail.com</a>
    <br>
    <div id="sus_tooltip">
        <div id="sus">
            <a href="#home">&#5123;</a>
        </div>
        <p id="tooltip">inapoi sus</p>
    </div>
    <div id="banner-container">
        <p id="banner">Acesta este un proiect scolar.<br><br>Acceptati cookies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" id="ok_cookies">OK</button></p>
    </div>
</footer>