<!-- vreau ca headerul sa apara pe toate paginile ( meniu + poza cu trupa ) -->

<!-- asta se asigura ca se incarca instant tema, chiar inaintea headerului -->
<header>
    
    <%- include("../fragmente/navbar.ejs");  %> 
    
    <section id="the_band">
        <h1 id="logo">Prea Târziu</h1>
        <!-- <img id="the_band_immage" src="./resurse/imagini/placeholder_band_immage.jpg" alt="band_immage2"> -->
    </section>
</header>   