<nav>
    <!-- for mobile users -->
    
    <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars"></i>
    </label>

    <input id="ch-menu" type="checkbox">

    <ul class = "meniu">
        <!--
            cea mai importanta sursa de venit a oricarei trupe este vanzarea de bilete, 
            prin urmare pagina principala este si pagina cu turneul trupei -> unde poate
            fi vazuta live de fani (de cele mai multe ori la concerte mici sau festivale)
        -->
        <li><div><div id="home-icon-menu"><i class="fa-solid fa-guitar"></i></div> <div id="home-text-menu">Home</div></div>
            <ul>
                <li><a href="/#meniu">Meniu</a></li>
                <li><a href="/#titlu_turneu">Turneu</a></li>
                <li><a href="/#rockstadt">Rockstadt</a></li>
                <li><a href="/#brutal">Brutal Assault</a></li>
                <li><a href="/#hellfest">Hellfest</a></li>
                <li><a href="/#filmari">Filmari</a></li>
                <li><a href="/#social">Social Media</a></li>
            </ul>
        </li>
        <!-- <li><a href="#albume">Albume</a></li> -->
        <li><a href="/merch">Merch</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/despre">Trupa</a></li>
    </ul>

</nav>